.image-center{
	margin-left: 400px;
	margin-top: 130px;
}

.menu{
	border:none;
	border:0px;
	margin:0px;
	margin-top: -40px;
	padding:0px;
	font: 67.5% "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	}
